
@model IEnumerable<WebApplication1.Models.bks>

@{
    ViewBag.Title = "Index";
}

<h2>Book List</h2>

<p>
@using (Html.BeginForm())
{
    @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Filter" class="btn btn-default" />
    </div>
}
</p>

<table class="table">
    <tr>
        <th>
            @Html.Label("Category Name")
          
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
           
            @Html.Label("Publish Date")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher)


        </th>
    </tr>

       @foreach (var item in Model)
       {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.Label((item.Publishdate).ToShortDateString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
               @Html.ActionLink("Add To Card", "Addtocart", new { id = item.Id } )
            </td>
        </tr>
    }
</table>
